body {
    background-color: #7CCEC1; 
    font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
    font-size: 5rem;
}

ol {
    margin-left: 1rem;
}

li {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    text-decoration: underline;
}

.home-link {
    color: #999;
}